.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.search-form {
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  margin: 0%;
  display: flex;
}

.search-bar {
  width: 60%;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.search-button {
  border: none;
  background: lightcoral;
  padding: 10px 20px;
  border-radius: 10px;
  color: whitesmoke;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.style {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 40%;
}

.style:hover {
  background: rgb(5, 247, 247);
  padding: 20px;
  transition: 0.1s ease, padding 0.8s linear;
}

.image {
  border-radius: 50%;
}
